//博客内容透明化
//文章内容的透明度设置
.main-inner {
  opacity: 0.7;
}

//侧边框的透明度设置
.sidebar {
  opacity: 0.7;
}
//菜单栏的透明度设置
.header-inner {
  background: rgba(255,255,255,0.7);
}
//搜索框（local-search）的透明度设置
.popup {
  opacity: 0.7;
}

